# ASSIGNMENT STATISTICS 2

In [4]:
print("Q_1_ANS :- The three measures of central tendency :-\n1. Mean\n2. Median\n3. Mode ")

Q_1_ANS :- The three measures of central tendency :-
1. Mean
2. Median
3. Mode

In [7]:
print("Q_1_ANS :- 1. Mean :- Mean is use to measure centeral tendency in dataset and measure or show central data in dataset. \n\n2. Median :- Median is use to handing outliers in dataset and measure centeral tendency in dataset. \n\n3. Mode :- Mode is used to centeral tendency in dataset used always measure categorical data it is properly used to measure categorical data.")

Q_1_ANS :- 1. Mean :- Mean is use to measure centeral tendency in dataset and measure or show central data in dataset.

2. Median :- Median is use to handing outliers in dataset and measure centeral tendency in dataset.

3. Mode :- Mode is used to centeral tendency in dataset used always measure categorical data it is properly used to measure categorical data.

In [8]:
print("Q_3_ANS :- ")

Q_3_ANS :-

In [9]:
hight_data = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [12]:
import numpy as np

In [13]:
np.mean(hight_data)

177.01875

In [14]:
np.median(hight_data)

177.0

In [15]:
from scipy import stats

In [16]:
stats.mode(hight_data)

/tmp/ipykernel_84/87325846.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(hight_data)

ModeResult(mode=array([177.]), count=array([3]))

In [17]:
print("Q_4_ANS :- ")

Q_4_ANS :-

In [18]:
hight_data1 = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [20]:
np.std(hight_data1)

1.7885814036548633

In [57]:
print("Q_5_ANS :- Measures of dispersion such as range, variance, and standard deviation are used to describe how much the data values vary or spread out from the central tendency of the dataset, such as the mean or median.\n\nFor example, let's consider a dataset of the daily number of steps taken by 10 people for a week:\n\n[5000, 7000, 8000, 9000, 10000, 12000, 13000, 14000, 15000, 20000]\n\nRange: The range is the difference between the maximum and minimum values in the dataset. In this case, the range is 20000 - 5000 = 15000, which indicates that the values are spread out over a wide range.\n\nVariance: The variance measures the average squared deviation of each data point from the mean. It is calculated as follows:\n\nvariance = sum((x - mean)^2) / (n - 1)\n\nwhere x is each data point, mean is the mean of the dataset, and n is the number of data points. For this dataset, the variance is approximately 1,826,667.\n\nStandard deviation: The standard deviation is the square root of the variance and measures the spread of the data in the same units as the original data. It is calculated as follows:\n\nstandard deviation = sqrt(variance)\nFor this dataset, the standard deviation is approximately 1,351.9, which indicates that the data values are spread out from the mean by an average of about 1,351.9 steps per day.\n\nIn summary, measures of dispersion such as range, variance, and standard deviation are used to describe the spread of data and provide useful information about the variability of the dataset. ")

Q_5_ANS :- Measures of dispersion such as range, variance, and standard deviation are used to describe how much the data values vary or spread out from the central tendency of the dataset, such as the mean or median.

For example, let's consider a dataset of the daily number of steps taken by 10 people for a week:

[5000, 7000, 8000, 9000, 10000, 12000, 13000, 14000, 15000, 20000]

Range: The range is the difference between the maximum and minimum values in the dataset. In this case, the range is 20000 - 5000 = 15000, which indicates that the values are spread out over a wide range.

Variance: The variance measures the average squared deviation of each data point from the mean. It is calculated as follows:

variance = sum((x - mean)^2) / (n - 1)

where x is each data point, mean is the mean of the dataset, and n is the number of data points. For this dataset, the variance is approximately 1,826,667.

Standard deviation: The standard deviation is the square root of the variance and measures the spread of the data in the same units as the original data. It is calculated as follows:

standard deviation = sqrt(variance)
For this dataset, the standard deviation is approximately 1,351.9, which indicates that the data values are spread out from the mean by an average of about 1,351.9 steps per day.

In summary, measures of dispersion such as range, variance, and standard deviation are used to describe the spread of data and provide useful information about the variability of the dataset.

In [59]:
print("Q_6_ANS :- A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things. Circles that overlap have a commonality while circles that do not overlap do not share those traits.\n\nVenn diagrams help to visually represent the similarities and differences between two concepts. They have long been recognized for their usefulness as educational tools. Since the mid-20th century, Venn diagrams have been used as part of the introductory logic curriculum and in elementary-level educational plans around the world. ")

Q_6_ANS :- A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things. Circles that overlap have a commonality while circles that do not overlap do not share those traits.

Venn diagrams help to visually represent the similarities and differences between two concepts. They have long been recognized for their usefulness as educational tools. Since the mid-20th century, Venn diagrams have been used as part of the introductory logic curriculum and in elementary-level educational plans around the world.

In [60]:
print("Q_7_ANS :- ")

Q_7_ANS :-

In [61]:
A = {2,3,4,5,6,7}
B = {0,2,6,8,10}

In [85]:
print(A.intersection(B))

{2, 6}

In [86]:
print(A.union(B))

{0, 2, 3, 4, 5, 6, 7, 8, 10}

In [98]:
print("Q_8_ANS :- Skewness :- skewness is show relationship between mean , median , mode \n\nthree type of skewnwss :-\n\n1.Symmetric Skewness \nSymmetric Skewness show relation between mean = median = mode\n\n2.Right Skewness / Positive Skewness\nRight Skewness show relation between mean >= median >= mode\n\n3.Left Skewness / Negative Skewness\nLeft Skewness show relation between mode> median > mean ")

Q_8_ANS :- Skewness :- skewness is show relationship between mean , median , mode

three type of skewnwss :-

1.Symmetric Skewness
Symmetric Skewness show relation between mean = median = mode

2.Right Skewness / Positive Skewness
Right Skewness show relation between mean >= median >= mode

3.Left Skewness / Negative Skewness
Left Skewness show relation between mode> median > mean

In [90]:
print("Q_9_ANS :- Right Skewness\nRight Skewness show relation between mean >= median >= mode")

Q_9_ANS :- Right Skewness
Right Skewness show relation between mean >= median >= mode

In [91]:
print("Q_10_ANS :- Covariance :- Covariance show data feature positive or negative in dataset.\n\nCorrelation :- Correlation show relationship between features , but only relationship between numarical features.\n\nTwo types of method use in correlation :\n\n1. pearson\n\n2. spearman")

Q_10_ANS :- Covariance :- Covariance show data feature positive or negative in dataset.

Correlation :- Correlation show relationship between features , but only relationship between numarical features.

Two types of method use in correlation :

1. pearson

2. spearman

In [92]:
print("Q_11_ANS :- Sample mean Formula : \n\n sample mean = (sum of terms) / (number of terms)\n ")

Q_11_ANS :- Sample mean Formula :

 sample mean = (sum of terms) / (number of terms)

In [94]:
df = sns.load_dataset('flights')

In [95]:
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [96]:
np.mean(df['passengers'])

280.2986111111111

In [97]:
print("Q_12_ANS :-Normal dustribution :-  In a normal distribution, data is symmetrically distributed with no skew. Most values cluster around a central region, with values tapering off as they go further away from the center. The mean, mode and median are exactly the same in a normal distribution. ")

Q_12_ANS :-Normal dustribution :-  In a normal distribution, data is symmetrically distributed with no skew. Most values cluster around a central region, with values tapering off as they go further away from the center. The mean, mode and median are exactly the same in a normal distribution.

In [99]:
print("Q_13_ANS :-  Covariance :- Covariance show data feature positive or negative in dataset.\n\nCorrelation :- Correlation show relationship between features , but only relationship between numarical features.\n\nTwo types of method use in correlation :\n\n1. pearson\n\n2. spearman ")

Q_13_ANS :-  Covariance :- Covariance show data feature positive or negative in dataset.

Correlation :- Correlation show relationship between features , but only relationship between numarical features.

Two types of method use in correlation :

1. pearson

2. spearman

In [100]:
print("Q_14_ANS :- ")

Q_14_ANS :-

In [101]:
age = [21,42,15,35,46,53,61,42,52,43,26]

In [102]:
np.mean(age)

39.63636363636363

In [103]:
np.median(age)

42.0

In [104]:
# ------> Outliers

In [105]:
age = [21,42,15,35,46,53,61,42,52,43,26,200]

In [106]:
np.mean(age)

53.0

In [107]:
np.median(age)

42.5